/cmake-build-*/**
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/*iml
.idea/*ssh*
.vscode
out
out/*
qemu/**/vmlinuz*
qemu/**/initrd*
qemu/**/initram*
qemu/**/*img
qemu/**/image/**
qemu/**/*img.xz
**/.DS_Store
